<div class="container arriba_espacio">
    <div id="tabs">
  		<ul>
    		<li class="activo_li"><a id="1" href="#tabs-1">Clases</a></li>
    		<li class="activo_li"><a id="2" href="#tabs-2">Cursos</a></li>
  		</ul>
  		<div id="tabs-1">

        	<hr/>
        	<div class="row">
   				<div id="clases" class="resultado_tab">
   					<div class="cargar" id="cargar_clases">
   						{% include "classroom/guess/prueba_clase.html" %}
   					</div>
   				</div>
			</div>
        </div>
        <div id="tabs-2">

			<hr/>
			<div class="row">
   				<div id="cursos" class="resultado_tab">
   					<div class="cargar" id="cargar_cursos">
   						{% include "classroom/guess/prueba_curso.html" %}
   					</div>
   				</div>
			</div>
		</div>
	</div>
{% include "comun/modal.html" %}
{% include "classroom/modal.html" %}
</div>