{% load static %}
<!-- Modal -->
<div id="my-modal-user" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cerrar</h4>
            </div>
            <div id="my-modal-body info" class="modal-body">
      			<h1>Informacion</h1>
      			<div class="row info">
    				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

     				</div>
   				</div>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->