{% for result in producto %}
  <div class="row bloque">
       <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">	
          <p><img class="img-responsive img-thumbnail" src="/media/{{result.image}}" alt=""></p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <p class="texto_h3 fuente_Monserrat">Nombre: {{result.name}}</p>
          <p class="texto_h3 fuente_Monserrat">Descripcion: {{result.description}}</p>
          <p class="texto_h3 fuente_Monserrat">Precio: {{result.price}}</p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        	<div class="row">
           		<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 abajo">
            	<form class="form-horizontal form-modificar-producto" role="form" enctype="multipart/form-data" action="{% url 'todos_productos' %}" method="POST">
       			{% csrf_token %}
       				<input type="hidden" name="pk" value="{{result.pk}}">
       				<input type="hidden" id="id_tipe" name="tipe" value="product">
       				<input type="hidden" id="id_cargar" name="cargar" value="cargar">
       				<input type="hidden" id="id_enlace" name="enlace" value="/sportcenter/productos/producto/">
            		<button type="submit" class="boton-modificar-producto btn btn-primary btn-block">Modificar</button>
            	</form>
            </div>
           	<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 abajo">
            	<form class="form-horizontal form-borrar-producto" role="form" enctype="multipart/form-data" action="{% url 'todos_productos' %}" method="POST">
       			{% csrf_token %}
            		<input type="hidden" name="pk" value="{{result.pk}}">
            		<input type="hidden" id="id_tipe" name="tipe" value="product">
            		<input type="hidden" id="id_borrar" name="borrar" value="borrar">
            		<input type="hidden" id="id_enlace" name="enlace" value="/sportcenter/productos/producto/">
            		<button type="submit" class="boton-borrar-producto btn btn-primary btn-block">Borrar</button>
            	</form>
            </div>
           	<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 abajo">
            	<form class="form-horizontal form-consultar-producto" role="form" enctype="multipart/form-data" action="{% url 'todos_productos' %}" method="POST">
       			{% csrf_token %}
            		<input type="hidden" name="pk" value="{{result.pk}}">
            		<input type="hidden" id="id_tipe" name="tipe" value="product">
            		<input type="hidden" id="id_consultar" name="consultar" value="consultar">
            		<button type="submit" class="boton-consultar-producto btn btn-primary btn-block">Consultar</button>
            	</form>
            </div>
           </div>
        </div>
 	</div>
{% empty %}
	<div class="row sin">
    	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">	
          <h2>No hay elementos</h2>
    	</div>
    </div>
{% endfor %}
{% if producto %}
{% include 'comun/pagination.html' with data=producto %}
{% endif %}