{% load staticfiles %}
<script type="text/javascript" src="{% static 'machine/js/forms.js' %}"></script>
<script type="text/javascript" src="{% static 'machine/js/add.js' %}"></script>

<script type="text/javascript" src="{% static 'comun/js/ajax_config.js' %}"></script>
<script type="text/javascript" src="{% static 'comun/js/delete_ajax.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'comun/js/get_data.js' %}"></script>-->
<script type="text/javascript" src="{% static 'comun/js/update_ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'comun/js/create_ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'comun/js/retrieve_ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'comun/js/pagination.js' %}"></script>
