<div class="container arriba_espacio">
    <div id="tabs">
  		<ul>
    		<li class="activo_li"><a id="1" href="#tabs-1">Productos</a></li>
  		</ul>
  		<div id="tabs-1">

        	<hr/>
        	<div class="row">
   				<div id="productos" class="resultado_tab">
   					<div class="cargar" id="cargar_productos">
   						{% include "product/guess/prueba_producto.html" %}
   					</div>
   				</div>
			</div>
        </div>
	</div>
{% include "comun/modal.html" %}
{% include "product/modal.html" %}
</div>