<div id="form_programa" class="row select_formulario">
    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 div_formulario_crear_programa">
        <form class="form-horizontal formulario-crear-programa" role="form" enctype="multipart/form-data" action="{% url 'todas_maquinas' %}" method="POST" id="crear-programa-form">
       	{% csrf_token %}
        	{% include "comun/form_template.html" with form=form_programms %}
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            	<button type="submit" class="btn btn-primary boton_crear_programa">Enviar</button>
            	<button type="reset" class="btn btn-primary boton_limpiar_programa">Limpiar</button>
            </div>
            <input type="hidden" id="id_tipe" name="tipe" value="programm">
            <input type="hidden" id="id_crear" name="crear" value="crear">
            <input type="hidden" id="id_enlace" name="enlace" value="/sportcenter/maquinas/programa/">
		</form>
		<hr/>	
     </div>
     <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 hide div_formulario_modificar_programa">
        <form class="form-horizontal formulario-modificar-datos-programa" role="form" enctype="multipart/form-data" action="{% url 'todas_maquinas' %}" method="POST" id="modificar-programa-form">
       	{% csrf_token %}
        	{% include "comun/form_template.html" with form=form_programms %}
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            	<button type="submit" class="btn btn-primary boton_modificar_programa">Enviar</button>
            	<button type="reset" class="btn btn-primary boton_limpiar_programa">Limpiar</button>
            </div>
            <input type="hidden" id="id_tipe" name="tipe" value="programm">
            <input type="hidden" id="id_modificar" name="modificar" value="modificar">
            <input type="hidden" id="id_enlace" name="enlace" value="/sportcenter/maquinas/programa/">
		</form>
		<hr/>	
     </div>
     <div class="info col-lg-12 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
           
    </div>
</div>