{% for result in programa %}
<div class="row bloque">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <p class="texto_h3 fuente_Monserrat">Nombre: {{result.name}}</p>
          <p class="texto_h3 fuente_Monserrat">Programa: {{result.exercise}}</p>
          <p class="texto_h3 fuente_Monserrat">Series: {{result.series}}</p>
          <p class="texto_h3 fuente_Monserrat">Cantidad: {{result.quantity}}</p>
          <p class="texto_h3 fuente_Monserrat">Descanso: {{result.rest}}</p>
     </div>
     <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        	<div class="row">
           		<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 abajo">
            <form class="form-horizontal form-modificar-programa" role="form" enctype="multipart/form-data" action="/sportcenter/maquinas/todas_maquinas/" method="POST">
       		{% csrf_token %}
       			<input type="hidden" name="pk" value="{{result.pk}}">
       			<input type="hidden" id="id_tipe" name="tipe" value="programm">
       			<input type="hidden" id="id_cargar" name="cargar" value="cargar">
       			<input type="hidden" id="id_enlace" name="enlace" value="/sportcenter/maquinas/programa/">
            	<button type="submit" class="boton-modificar-programa btn btn-primary btn-block">Modificar</button>
            </form>
           </div>
           	<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 abajo">
            <form class="form-horizontal form-borrar-programa" role="form" enctype="multipart/form-data" action="/sportcenter/maquinas/todas_maquinas/" method="POST">
       		{% csrf_token %}
            	<input type="hidden" name="pk" value="{{result.pk}}">
            	<input type="hidden" id="id_tipe" name="tipe" value="programm">
            	<input type="hidden" id="id_borrar" name="borrar" value="borrar">
            	<input type="hidden" id="id_enlace" name="enlace" value="/sportcenter/maquinas/programa/">
            	<button type="submit" class="boton-borrar-programa btn btn-primary btn-block">Borrar</button>
            </form>
           </div>
           	<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 abajo">
            <form class="form-horizontal form-consultar-programa" role="form" enctype="multipart/form-data" action="/sportcenter/maquinas/todas_maquinas/" method="POST">
       		{% csrf_token %}
            	<input type="hidden" name="pk" value="{{result.pk}}">
            	<input type="hidden" id="id_tipe" name="tipe" value="programm">
            	<input type="hidden" id="id_consultar" name="consultar" value="consultar">
            	<input type="hidden" id="id_enlace" name="enlace" value="/sportcenter/maquinas/programa/">
            	<button type="submit" class="boton-consultar-programa btn btn-primary btn-block">Consultar</button>
            </form>
            </div>
           </div>
     </div>
 </div>
{% empty %}
	<div class="row sin">
    	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">	
          <h2>No hay elementos</h2>
    	</div>
    </div>
{% endfor %}
{% if programa %}
{% include 'comun/pagination.html' with data=programa %}
{% endif %}