<div class="container arriba_espacio">
    <div id="tabs">
  		<ul>
    		<li class="activo_li"><a id="1" href="#tabs-1">Maquinas</a></li>
    		<li class="activo_li"><a id="2" href="#tabs-2">Ejercicios</a></li>
    		<li class="activo_li"><a id="4" href="#tabs-3">Planificaciones</a></li>
  		</ul>
  		<div id="tabs-1">

        	<hr/>
        	<div class="row">
   				<div id="maquinas" class="resultado_tab">
   					<div class="cargar" id="cargar_maquinas">
   						{% include "machine/user/prueba_maquina.html" %}
   					</div>
   				</div>
			</div>
        </div>
        <div id="tabs-2">

			<hr/>
			<div class="row">
   				<div id="ejercicios" class="resultado_tab">
   					<div class="cargar" id="cargar_ejercicios">
   						{% include "machine/user/prueba_ejercicio.html" %}
   					</div>
   				</div>
			</div>
		</div>
		<div id="tabs-3">

			<hr/>
			<div class="row">
   				<div id="planificaciones" class="resultado_tab">
   					<div class="cargar" id="cargar_planificaciones">
   						{% include "machine/user/prueba_planificacion.html" %}
   					</div>
   				</div>
			</div>
		</div>
	</div>
{% include "comun/modal.html" %}
{% include "machine/modal.html" %}
</div>