{% include "main/resource.html" %}
{% load staticfiles %}

<body class="body full">

{% if logueado %}
	{% include "comun/navegacion.html" %}
{% endif %}
	  
 <div class="container">
	<div class="row">
		<h1 class="text-center h1 texto_h1">Servicios</h1>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h2 class="tag-title h2 texto_h2">Clases</h2>
                            <hr />
                            <p class="fuente_Lato p_text texto_h3">En SportCenter ofrecemos diferentes clases para que nuestros clientes satisfagan sus necesidades de conocimiento. Ya sea karate, kick boxing, judo, o cualquier tipo de arte marcial aquí podrás informarte.</p>
                            <br />
                            <a href="/sportcenter/clases/" class="btn btn-block btn-primary">Ver Clases</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h2 class="tag-title h2 texto_h2">Tienda</h2>
                            <hr />
                            <p class="fuente_Lato p_text texto_h3">Si lo que necesitas es equipamiento, en nuestra tienda encontraras aquello que buscas, desde suplementos alimenticios hasta vestimenta. No esperes más y consigue eso que te falta.</p>
                            <br />
                            <a href="/sportcenter/tienda/" class="btn btn-block btn-primary">Ver Tienda</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h2 class="tag-title h2 texto_h2">Pistas</h2>
                            <hr />
                            <p class="fuente_Lato p_text texto_h3">Además del gimnasio tenemos a tu diposición diferentes pistas donde practicar tu deporte favorito, padel, fútbol, baloncesto...</p>
                            <br />
                            <a href="/sportcenter/pistas/" class="btn btn-block btn-primary">Ver Pistas</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h2 class="tag-title h2 texto_h2">Gimnasio</h2>
                            <hr />
                            <p class="fuente_Lato p_text texto_h3">Si lo que necesitas es equipamiento, en nuestra tienda encontraras aquello que buscas, desde suplementos alimenticios hasta vestimenta. No esperes más y consigue eso que te falta.</p>
                            <br />
                            <a href="/sportcenter/gimnasio/" class="btn btn-block btn-primary">Ver Gimnasio</a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
	</div>
</div>
    
    {% if logueado %}
		{% include "comun/footer.html" %}
	{% endif %}
      
</body>


</html>