<div id="form_reserva" class="row select_formulario">
    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 div_formulario_crear_reserva">
        <form class="form-horizontal formulario-crear-reserva" role="form" enctype="multipart/form-data" action="/sportcenter/pistas/todas_pistas/" method="POST" id="crear-reserva-form">
       	{% csrf_token %}
        	{% include "comun/form_template.html" with form=form_reservations %}
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            	<button type="submit" class="btn btn-primary boton_crear_reserva">Enviar</button>
            	<button type="reset" class="btn btn-primary boton_limpiar_reserva">Limpiar</button>
            </div>
            <input type="hidden" id="id_tipe" name="tipe" value="reservation">
            <input type="hidden" id="id_crear" name="crear" value="crear">
            <input type="hidden" id="id_enlace" name="enlace" value="/sportcenter/pistas/reserva/">
		</form>
		<hr/>	
     </div>
     <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 hide div_formulario_modificar_reserva">
        <form class="form-horizontal formulario-modificar-datos-reserva" role="form" enctype="multipart/form-data" action="/sportcenter/pistas/todas_pistas/" method="POST" id="modificar-reserva-form">
       	{% csrf_token %}
        	{% include "comun/form_template.html" with form=form_reservations %}
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            	<button type="submit" class="btn btn-primary boton_modificar_reserva">Enviar</button>
            	<button type="reset" class="btn btn-primary boton_limpiar_reserva">Limpiar</button>
            </div>
            <input type="hidden" id="id_tipe" name="tipe" value="reservation">
            <input type="hidden" id="id_modificar" name="modificar" value="modificar">
            <input type="hidden" id="id_enlace" name="enlace" value="/sportcenter/pistas/reserva/">
		</form>
		<hr/>	
     </div>
     <div class="info col-lg-6 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
           
    </div>
</div>